/* src/index.css */
@import "pretendard/dist/web/variable/pretendardvariable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  background-color: #eaeef1;
  --effect-focus: 0 0 0 4px rgba(233, 181, 134, 0.36);
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inputUnset {
  all: unset;
}

.checkboxCustom {
  position: absolute;
  pointer-events: none;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.choice::before {
  content: " ";
  width: 20px;
  height: 20px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center 20px;
  transition: all 0.4s;
}

/* radio button 일반 상태 */
.choice.type_radio::before {
  border-radius: 50%;

  /* 결국 이미지로 해당 부분 디자인 교체 */
  background-position: center center;
  background-image: url(/selected.svg);
  background-size: 0;
}

/* radio button 선택된 상태 */
.choice.type_radio:has(:checked)::before {
  background-size: 1rem;
  border: 1px solid #ff770f;
  box-shadow: var(--effect-focus);
}

/* "어떻게 움직일지" 정해놓는 애니메이션 시나리오 */
/* Tailwind는 기본적으로 @keyframes을 제공하지 않아 아래처럼 직접 추가 */
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg); /* 시작: 회전 0도 */
  }
  100% {
    transform: rotate(360deg); /* 끝: 회전 360도 → 1바퀴 */
  }
}

.animate-spinner-rotate {
  animation: spinner-rotate 1s linear infinite;
  /* 정의한 keyframe(애니메이션 동작)을 1초동안 실행되도록, 속도는 일정하게 (처음도 느리지 않게) */
}

/* ✅ 커스텀 유틸리티 */
@layer utilities {
  /* 전체 스크롤바 (트랙 + thumb 포함 영역) */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0.2rem;
  }

  /* 실제로 마우스로 드래그하는 막대 부분 */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme("colors.grey.60"); /* Tailwind 색상 사용 */
    border-radius: 10px;
  }

  /* thumb가 움직이는 배경 트랙 영역 */
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.custom-scrollbar {
  scrollbar-gutter: stable; /* ✅ 스크롤 공간을 레이아웃에 포함 */
}

.tooltip-box {
  @apply absolute top-full mt-[1.2rem] -right-[1rem]
         bg-grey-90 text-white text-[1.2rem] rounded-[0.6rem]
         px-[1.4rem] py-[1.5rem] w-[26rem] leading-[1.6] z-10 shadow-md
         opacity-0 transition-opacity duration-500;

  position: absolute;
}

.tooltip-box::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 50%;
  transform: translateX(850%);
  width: 0;
  height: 0;

  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1.2rem solid #333333; /* <- bg-grey-90 색상과 일치 */
}
