/* src/index.css */
@import "pretendard/dist/web/variable/pretendardvariable.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 62.5%;
  background-color: #eaeef1;
  --effect-focus: 0 0 0 4px rgba(233, 181, 134, 0.36);
}

body {
  font-family: "Pretendard Variable", sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  height: 100%;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.inputUnset {
  all: unset;
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.choice::before {
  content: " ";
  width: 20px;
  height: 20px;
  border: 1px solid #bebebe;
  border-radius: 4px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center 20px;
  transition: all 0.4s;
}

/* radio button 일반 상태 */
.choice.type_radio::before {
  border-radius: 50%;

  /* 결국 이미지로 해당 부분 디자인 교체 */
  background-position: center center;
  background-image: url(/selected.svg);
  background-size: 0;
}

/* radio button 선택된 상태 */
.choice.type_radio:has(:checked)::before {
  background-size: 1rem;
  border: 1px solid #ff770f;
  box-shadow: var(--effect-focus);
}

/* "어떻게 움직일지" 정해놓는 애니메이션 시나리오 */
/* Tailwind는 기본적으로 @keyframes을 제공하지 않아 아래처럼 직접 추가 */
@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg); /* 시작: 회전 0도 */
  }
  100% {
    transform: rotate(360deg); /* 끝: 회전 360도 → 1바퀴 */
  }
}

.animate-spinner-rotate {
  animation: spinner-rotate 1s linear infinite;
  /* 정의한 keyframe(애니메이션 동작)을 1초동안 실행되도록, 속도는 일정하게 (처음도 느리지 않게) */
}
